.Index-title {
  font-size: 44px;
}

.Index-Article {
  display: block;
  height: 72px;
  padding: 30px 0;
  border-top: 1px solid #e0e0e0;
}

.Index-Article-header {
  color: #424242;
  letter-spacing: .1rem;
}

.Index-Article-title {
  margin: 0;
  padding: 10px 0;
  font-size: 32px;
  color: #212121;
}
