.Add {
  margin-top: 30px;
}

.Add-Editor {
  display: flex;
  justify-content: space-between;
}

.Add-Editor-edit {
  width: 50%;
  height: 60vh;
  overflow: hidden;
}

.Add-Editor-edit-body {
  width: 100%;
  box-sizing: border-box;
}

.Add-Editor-preview {
  width: 50%;
  height: 512px;
  margin-top: 42px;
  overflow: auto;
  word-wrap: break-word;
  border: 1px solid #b9b9b9;
}
