:root {
  --background-color: #fbfbfc;
  --background-color-shadow: #f0f1f4;
  --border-color: #c5c8ce;
  --text-color: #141415;
  --text-color-light: #76787c;
  --text-color-light2: #d8dbe2;
  --primary-color: #ad343e;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kosugi Maru", sans-serif;
  background-color: var(--background-color);
}

* {
  color: var(--text-color);
  letter-spacing: 0.08em;
}

a {
  text-decoration: none;
}
